<%= form_for(@comment, remote: true) do |f| %>
<div class="row">
    <%= f.label :text, "Add a comment:" %><br>
    <%= f.text_field :text %><br>
    <%= f.hidden_field(:post_id, value: 'default') %>
    <%= f.hidden_field(:user_id, value: @user.id) %>
</div>
<div class="row actions">
  <%= f.submit :id=> 'comment-button' %>
<% end %>
</div>

<script type="text/javascript">

$(document).ready(function() {
  alert("I am an alert box!");
  // Handler for .ready() called.
$("#comment_text").focus(function() {
//$('form#comment_post_id').val(1);
alert('fuck');
  });



$('#comment-button', this).on('click', function(e){

  e.preventDefault();
    $.ajax("/comments",{
      dataType: 'json',
      contentType: 'application/json',
      type: 'POST',
      data: JSON.stringify( {
       // authenticity_token: auth_token,
        // comment: {
        //   post_id: 1,
        //   user_id: 1,
        //   text: $('#comment_text').val()

        // }
              }),
      success: function(data){console.log("success here");console.log(data)},
      error: function(data){console.log("error here"); console.log(data);}
    });
  });


}); //end onready
</script>
